version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: car-rental-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: car-rental-backend
    ports:
      - "3001:3001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/car_rental
    depends_on:
      - mongo

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: car-rental-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data:
